.foreground {
	background-color: white;
	width: 90%;
	margin-top: 90px;
	margin-left: 60px;
	margin-right: 60px;
	padding: 20px;
	word-wrap: break-word;
	
}
p{
	width: auto;
	display: block;
	//font-family: Tahoma, Geneva, sans-serif;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.5em;
}

h1{
	font-size: 3em;
	margin-left: 3em;
}
.navbar li{
	float: left;
}
.navbar li a {
	display: block;
	color: white;
	text-align: center; 
	padding: 14px 16px;
	text-decoration: none;
}

li a.active{
	
	background-color: #517Aff;
}

li a:hover:not(.active){
	background-color:#111;
	color: white;
	
}
.navbar{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow:hidden;
	background-color: #333;
}