.foreground {
	background-color: white;
	width: 75%;
	margin:auto;
	margin-top: 90px;
	padding: 20px;
	word-wrap: break-word;
	border-radius: 25px;
	
}

.topnav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0; 
	background-color: #333;
}
.topnav a {
	float: left;
	display: block;
	color: white;
	text-align: center; 
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a.active{
	
	background-color: #517Aff;
}


.topnav a:hover:not(.active){
	background-color:#111;
	color: white;
		
}
.dropbtn{
    padding: 14px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
	background-color: #333;
	color: white;
	
	
}
.dropdown{
	position:relative;
	display:inline-block;
	background-color: #517Aff;
	float:left;
}
.dropdown-content{
	display: none;
	position: absolute;
	min-width: 160px;
	overflow:auto;
	z-index: 1;
	background-color: #595959;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	color:black;
}
.dropdown:hover .dropdown-content{
	display:block;
	background-color: #995959;
}

.dropdown-content a{
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	float:none;
	text-align:left;
}
.dropdown-content a:hover{
	background-color: #005959;
	
}

.form-control{
	display: block;
	width: 100%;
	height 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.4;
	color:#554;
	bordor: 1 px solid #ccc;
	border-radius: 4px;
	
}
.form-group {
  margin-bottom: 15px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
body{
	display: block;
	font-family: sans-serif;
	//font-family: Tahoma, Geneva, sans-serif;
	//font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
p{
	line-height: 1.6;
	
}
h1{
	font-size: 2em;
	margin-left: 3em;
}
h2{
	font-size: 1.5em;
	
}

a{
	text-decoration:none;
	color:#337ab4;
}

